<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Bet Notifier!</title>
    <meta name="description" content="Bet Notifier">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Notificador cuotas deportivas</h1>
    </header>

    <main>
      <div class="betSection">
        
        <div class="leftSection">
          <form action="#" onsubmit="return startup(this);">
            Fecha: <input type="date" id="dateEvents">
            Cuota pre-partido (&lt=): <input type="text" id="oddPre" value="1.10">
            Cuota LIVE (&gt=): <input type="text" id="oddLive" value="1.36">
            Mostrar: <div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="statusSelector" id="notstarted" value="notstarted">
                <label class="form-check-label" for="notstarted">Not started</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="statusSelector" id="inprogress" value="inprogress" checked>
                <label class="form-check-label" for="inprogress">LIVE</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="statusSelector" id="finished" value="finished">
                <label class="form-check-label" for="finished">Finished</label>
              </div>
            </div>
            <br>
            <input type="submit" value="Obtener datos">
            <div class="loader"></div>
          </form>    
        </div>
        
        <div id="info_matches" class="rightSection">
          <table class="table table-hover" id="table_info_matches">
            <thead>
              <tr>
                <td><b>Estado</b></td>
                <td><b>Evento</b></td>
                <td><b>Fecha</b></td>
                <td><b>Id</b></td>
                <td><b>Resultado actual</b></td>
                <td><b>Pre-Partido</b></td>
                <td><b>En directo</b></td>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <footer>
      ©
    </footer>

    <div id="loaderNode" class="loaderOverlay">
      <i class="loader fa fa-spinner fa-spin  fa-3x"></i>
    </div>
  </body>
</html>
